<!DOCTYPE html>
<html lang="en">
<!-- Tocheck -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Sharing App</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <script src="https://kit.fontawesome.com/b0c1005591.js" crossorigin="anonymous"></script>
</head>
<style>
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }

  :root {
    --main-bg-color: #edf5fe;
    --light-blue: #03a9f4;
    --dark-blue: #028bca;
  }

  body {
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 98vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    background: #fff;
    width: 430px;
    max-width: 90%;
    border-radius: 25px;
    box-shadow: 0px 20px 20px 0px #00000017;
    padding: 2rem;
    text-align: center;
  }

  .container h1 {
    text-align: center;
    color: white;
  }

  form {
    background-color: white;
    padding: 30px;
  }

  form .input-group {
    margin-bottom: 15px;
  }

  form label {
    display: block;
    margin-bottom: 10px;
  }

  form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
  }

  .submit-btn {
    padding: 8px 40px;
    width: 100%;
    border: none;
    background: var(--light-blue);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
  }

  .downloadPage {
    --height: 36px;
    margin-top: 1rem;
    display: flex;
    width: 100%;
  }

  .downloadPage-input {
    flex-grow: 1;
    padding: 0 8px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    border-right: none;
    outline: none;
  }

  .downloadPage-input:hover {
    background: #eeeeee;
  }

  .downloadPage-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-blue);
    color: white;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
  }

  .downloadPage-button:hover {
    background: var(--dark-blue);
    ;
  }

  /* Share Buttons */

  .share-btn-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .share-btn-container a i {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 32px;
  }

  .share-btn-container .fa-facebook {
    color: #3b5998;
  }

  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }

  .share-btn-container .fa-whatsapp {
    color: #25d366;
  }
  .qr-code img{
    padding: 2rem;
  }
</style>

<body>
  <div class="container">
    <form action="/api/files" method="post" enctype="multipart/form-data">
      <div class="input-group">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password " />
      </div>
      <button class="submit-btn" type="submit">Share</button>

      <div class="url-group">
        <% if (locals.fileLink !=null) { %>
          <div class="downloadPage">
            <input class="downloadPage-input" type="text" name="text" id="text" value="<%= locals.fileLink %> ">
            <span onclick="copy()" class="material-symbols-outlined downloadPage-button">
              content_copy
            </span>
          </div>
          <!-- Your file is upload
          <a href="<%= locals.fileLink %>">
            <%=locals.fileLink %>
          </a> -->
          <div class="wrapper">
            <div class="qr-code">
              <img src=" "alt="qr-code">
            </div>
          </div>
          <div class="share-btn-container">
            <a href="#" class="whatsapp-btn">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
            <a href="#" class="facebook-btn">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" class="twitter-btn">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
          
          <% } %>
      </div>
    </form>
  </div>
  <script>

    qrinput ="<%= locals.fileLink %>"
    qrimg = document.querySelector(".wrapper .qr-code img")
      qrimg.src=`https://api.qrserver.com/v1/create-qr-code/?size=170x170&data=${qrinput}`;
      console.log(qrinput);
    
    function copy() {
      var input = document.getElementById('text');
      input.select();
      document.execCommand("copy");
    }
    const facebookBtn = document.querySelector(".facebook-btn");
    const twitterBtn = document.querySelector(".twitter-btn");
    const whatsappBtn = document.querySelector(".whatsapp-btn");

    function socialbtn() {
      let postUrl = encodeURI(document.location.href);
      let postTitle = encodeURI("Hi, please check this out :");
      facebookBtn.setAttribute(
        "href",
        `https://www.facebook.com/sharer.php?u=${postUrl}`
      );

      twitterBtn.setAttribute(
        "href",
        `https://twitter.com/share?url=${postUrl}&text=${postTitle}`
      );

      whatsappBtn.setAttribute(
        "href",
        `https://wa.me/?text=${postTitle} ${postUrl}`
      );
    }

    socialbtn();

  </script>
</body>

</html>
